html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: var(--bs-dark);
    /*background-image: var(--bs-gradient);*/
    color: white;
}



footer {
    margin-top: auto;
}

#caixaPesquisa {
    font-size: 18px;
    /*border: solid 1px black;*/
    min-width: 50vw;
    padding: 40px;
    margin-top: 15px;
    /*background-color: var(--bs-blue);
    background-image: var(--bs-gradient);*/
    border-radius: 7px;
    box-shadow: 2px 2px 3px 3px black;
}

#campoPesquisa {
    background-color: white;
    /*border: solid 1px slategrey;*/

    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 1px black;
    min-width: inherit;
    color: black;
}

#carrosPagina {
    min-height: 100vh;
    min-width: 88vw;
    margin: 0px;
    /* background-color: var(--bs-dark);*/
}

#sideBarFiltros {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
    margin-left: 15px;
}

#selecaoFiltros {
    flex: 1;
    /*margin: 2px;*/
    padding: 5px;
    border-radius: 2px;
    border: solid 2px black;
    box-shadow: 3px 2px 5px black;
}

.filtros {
    border: solid 1px black;
}

#exibirCards {
    padding: 10px;
}

#selecoesCards {
    box-shadow: 1px 1px 4px 2px black;
}

.brandNome {
    text-shadow: -1px -1px 2px blue, 1px 1px 2px black;
    font-style: italic;
    font-weight: bolder;
    padding-left: 10%
}

.brandDecoration {
    text-shadow: -2px -2px 4px white, 2px 2px 4px white;
    color: midnightblue;
    font-weight: 900;
}

.divCentralizada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 90vh;
}

.field-validation-error {
    color: red;
}

#textoDescricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-fechar{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-align:center;
}

.btn-fechar {
    box-shadow: 0px 0px 3px 2px black;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 3px;
    font-size: xx-small;
}

.bg-dark-persornalizado{
    background-color: var(--bs-dark);
}

#contaUsuario {
    background-color: brown;
    margin-left: 6px;
    margin-right: 4px;
    font-weight: 800;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 1px white;
    text-shadow: 0px 0px 3px black;
}