@{
    ViewData["Title"] = "Comprar, Vender | AutoNovos";
}

<div class="text-center" style="display:flex; justify-content:center; align-items:center">
    <div class="form-group $indigo" id="caixaPesquisa">
        <label >Pesquisar automóvel:</label>
        <br/>
        <br/>
	    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input name="consulta" id="campoPesquisa" placeholder="Pesquisar automóvel" type="text" class="form-control input-group">
    </div>
</div>
