@{
    ViewData["Title"] = "Comprar, Vender";
}
<div class="text-center bg-success" style="border-bottom: solid 1px var(--bs-green)">
    <h1 class="brandNome">
        Auto<span class="brandDecoration">Novos</span>
    </h1>
    <h5 class="brandNome">Seu site de compra e venda de novos e seminovos</h5>
</div>
<div class="text-center bg-success" style="display:flex; justify-content:center; align-items:center; min-height: 50vh; box-shadow: 0px 3px 3px black">
    <div class="form-group bg-dark" id="caixaPesquisa">
        <h5 class="brandNome">Pesquisar automóvel:</h5>
        <br/>
        <br/>
	    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input name="consulta" id="campoPesquisa" placeholder="Pesquisar automóvel" type="text" class="form-control input-group">
    </div>
</div>
