@{
    ViewData["Title"] = "Acesso Restrito";
}

<div class="text-center">
    <h6>Está página tem acesso restrito!</h6>
    <p style="color: red">Você não tem permissão para acessar está funcionalidade!</p>
    <a style="color: cornflowerblue"
        asp-controller="Home" asp-action="Index"><b>Clique Aqui para voltar para a página Home</b></a>
</div>